/* swiper js style overrides */

/* color: #b20600; */
/* font-weight: 600; */

a:hover {
  color: yellow;
}

.active-nav-link {
  color: yellow;
}

.swiper {
  width: 100%;
  padding: 0px 50px;
  /* padding: 0px 25px !important;
  left: -25px !important; */
}

.swiper-wrapper {
  padding-top: 50px;
  /* padding-bottom: 55px; */
}

.swiper-pagination {
  text-align: right !important;
  right: 60px !important;
  left: auto !important;
  top: 2px;
  height: 15px;
}

.swiper-pagination-bullet {
  background-color: white !important;
  height: 10px !important;
  width: 10px !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #b20600 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 371px;
  object-fit: cover;
}

@media screen and (max-width: 2560px) {
  .swiper-slide img {
    /* width: 235px; */
    height: 350px;
  }
}

@media screen and (max-width: 1440px) {
  .swiper-slide img {
    /* width: 235px; */
    height: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .swiper-slide img {
    /* width: 235px; */
    height: 350px;
  }
}

.swiper-btn-left {
  left: 0px;
  right: auto;
}

.swiper-btn-right {
  right: 0px;
  left: auto;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

/* .swiper-btn, */

.swiper-btn {
  z-index: 5000;
  padding: 5px 10px;
  position: absolute;
  top: 0%;
  height: 100%;
  color: white;
  /* width: calc(var(--swiper-navigation-size) / 44 * 27); */
  /* height: var(--swiper-navigation-size); */
  /* margin-top: calc(0px - (var(--swiper-navigation-size) / 2)); */
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
}

@media screen and (max-width: 1440px) {
  .swiper {
    padding: 0px;
  }

  .swiper-btn {
    display: none !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    display: none !important;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none !important;
  }

  .swiper-pagination {
    right: 1 !important;
  }
}

/* react pagination styles */

.pagination {
  display: flex;
  max-width: 1340px;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  cursor: pointer;
  margin-top: 45px;
}

.pagination > li > a {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.pagination > li > a:hover {
  background-color: #b20600;
}

.selected > a {
  color: yellow;
  background-color: #b20600;
}

/* Dropdown styles */

/* .open-dropdown {
  display: block;
}

.close-dropdown {
  display: none !important;
} */

.Dropdown-control {
  width: 173px;
  background-color: black;
  color: white;
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.Dropdown-arrow {
  top: 20px;
}

.Dropdown-root {
  display: inline-block;
  cursor: pointer;
}

.Dropdown-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 600px;
  padding: 15px;
  overflow: visible;
  background-color: black;
}

.Dropdown-option {
  display: inline !important;
  height: auto;
  color: white;
}

.Dropdown-option:hover {
  display: inline !important;
  height: auto;
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.Dropdown-option.is-selected {
  /* background-color: rgb(255, 255, 255, 0.15) !important; */
  background-color: transparent;
  text-decoration: underline;
  color: white;
}

.Dropdown-option.is-selected:hover {
  background-color: rgb(255, 255, 255, 0.15);
}

/* .swiper-container {
  width: 480px;
} */
/* 
@media screen and (max-width: 320px) {
  .swiper-container {
    width: 320px;
  }
}

@media screen and (max-width: 375px) {
  .swiper-container {
    width: 375px;
  }
}

@media screen and (max-width: 425px) {
  .swiper-container {
    width: 425px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

@media screen and (max-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
}

@media screen and (max-width: 1440px) {
  .swiper-container {
    width: 1440px;
  }
}

@media screen and (max-width: 2560px) {
  .swiper-container {
    width: 2560px;
  }
}

@media screen and (max-width: 2561px) {
  .swiper-container {
    width: 2561px;
  }
}

@media screen and (max-width: 3000px) {
  .swiper-container {
    width: 3000px;
  }
} */
