@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.controls {
  margin-bottom: 50px;
}

.movie-image {
  width: 100%;
  height: 348px;
  object-fit: cover;
}

.movie-container {
  margin: 0 auto;
  display: grid;
  max-width: 1240px;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
}
